@import url("https://fonts.googleapis.com/css?family=Kanit");
@import url("https://fonts.googleapis.com/css?family=Recursive");

.App,.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: rgb(197, 197, 197);
  height: 10%;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  opacity: 0.9;
  margin-bottom: 5px;
}
h1{
  font-size: 35px;
  font-family: "Kanit", "sans-serif";
  margin: 0px;
}
.rules{
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 0px;
  font-family: "Recursive", "sans-serif";
}
.header div{
  font-size: 30px;
  font-family: "Recursive", "sans-serif";
}
.score{
  display: inline;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(3, 3, 3);
}
.image{
  display: flex;
}
.cardContainer{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.card{
  cursor: pointer;
  height: 250px;
  width: 250px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px; 
  transition: all 0.25s ease;
}
.card:hover{
  height: 270px;
  width: 270px;
}

img{
  border-radius: 10px;
  height: 100%;
  width: 100%;
}
button{
  height: 100px;
  width: 100px;
  border-radius: 10%;
  background-color: blue;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.winScreen{
  height: 200px;
  width: 650px;
  text-align: center;
  padding: 15px;
  background-color: #e0dbff;
  position: absolute; 
  border-radius: 10px;
  top: 30%;
  left: 28%;
  visibility: visible;
}
.hidden{
 visibility: hidden;
}
.gitImg {
  background-image: url("images/github.png");
  background-size: 70px 70px;
  position: relative;
  bottom: 2px;
  height: 70px;
  width: 70px;
}